<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>{% block title %} {% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static',filename='css/style.css') }}">
    <script src="{{ url_for('static',filename='js/script.js') }}"></script>
</head>
<body>
    <!-- Шапка сайта -->
    <div id="header" class="header">
        <div id="head_content" class="container header-content">
            <div class="title">Магазин Техники ХМ</div>
            <div>
                <img class="logo-image" src="{{ url_for('static',filename='images/logo.jpg') }}" alt="Логотип магазина">
            </div>
            <nav class="menu">
                <ul>
                    <li><a href="/" id="main_ref">Главная</a></li>
                    {% if not hide_contacts %}
                        <li><a href="/contacts" id="contacts_ref">Контакты</a></li>
                    {% endif %}
                </ul>
            </nav>
            <div class="cart-info">
                {% block cart_info %} {% endblock %}
            </div>
            <div class="user-login">
                {% if session.username %}
                    <a href="/logout">Выход ({{ session.name }})</a>
                {% else %}
                    <a href="/login">Вход</a>
                {% endif %}
            </div>
        </div>
    </div>

    <!-- Основной контент -->
    <div id="content" class="container">
        {% block content %} {% endblock %}
    </div>

    <!-- Подвал сайта -->
    <div class="footer">
        <div class="container">
            <p>&copy; 2025 Магазин Техники ХМ. Все права защищены.</p>
        </div>
    </div>
</body>
</html>