<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Калькулятор</title>
</head>
<body>
    <h1>Простой калькулятор</h1>
    <form method='post'>
            <label for="first_numb">a:</label>
            <input type="text" name="first_numb" id="first_numb">
            <select name="operation" id="operation">
                <option value="+">+</option>
                <option value="-">-</option>
                <option value="*">*</option>
                <option value="/">/</option>
            </select>
            <label for="second_numb">b:</label>
            <input type="text" name="second_numb" id="second_numb">
            <input type="submit" value="=">
    </form>
</body>
</html>