{% extends 'base_template.html' %}

{% block title %}
    Главная страница
{% endblock %}

{% block content %}
    {% if success %}
    <!-- Модальное окно при успешном добавлении -->
        <div id="successModal" class="modal">
            <div class="modal-content">
                <span class="close">&times;</span>
                <div class="success-icon">✓</div>
                <h3>Успешно!</h3>
                <p>Товар был успешно добавлен.</p>
                <a href="/">
                    <button class="submit-btn" id="ok_button" onclick="closeModal()">OK</button>
                </a>
            </div>
        </div>
    {% endif %}
    <h1 class="page-title">Каталог товаров</h1>
    <div class="catalog">
        {% for item in items %}
            <div class="product-card">
            <img class="product-image" src="{{ url_for('static',filename='images/' + item.photo) }}" alt="{{ item.title }}" >
            <div class="product-info">
                <h3 class="product-title">{{ item.title }}</h3>
                <p class="product-description">{{ item.info }}</p>
                <div class="product-price">{{ item.price }} руб.</div>
                <a href="/add_cart?id={{ item.item_id }}">
                    <button class="add-to-cart" onclick="showSuccessModal()">Добавить в корзину</button>
                </a>
            </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
